
nbproject/private/
nbproject/nbproject.xml
nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/project.properties.backup


build/
build/built-jar.properties


*.iml
.idea/
.vscode/
*.log
*.DS_Store
Thumbs.db


*.swp
*.swo
*.bak
*.tmp


*.class
*.jar
*.war
*.ear
*.ser

# --- Logs and Reports ---
*.log
*.out
*.err
